package {{ packageName }};

import static com.tngtech.archunit.lang.syntax.ArchRuleDefinition.classes;
import static com.tngtech.archunit.lang.syntax.ArchRuleDefinition.noClasses;

import com.tngtech.archunit.core.domain.JavaClasses;
import com.tngtech.archunit.core.importer.ClassFileImporter;
import com.tngtech.archunit.core.importer.ImportOption;
import jakarta.persistence.Entity;
import org.junit.jupiter.api.Test;

class {{ className }} {
    private static final String BASE_PACKAGE = "{{ basePackage }}";

    private final JavaClasses importedClasses = new ClassFileImporter()
        .withImportOption(ImportOption.Predefined.DO_NOT_INCLUDE_TESTS)
        .importPackages(BASE_PACKAGE);

    @Test
    void coreShouldNotDependOnEntrypointInfraOrConfiguration() {
        noClasses()
            .that().resideInAPackage(BASE_PACKAGE + ".core..")
            .should().dependOnClassesThat()
            .resideInAnyPackage(
                BASE_PACKAGE + ".entrypoint..",
                BASE_PACKAGE + ".infra..",
                BASE_PACKAGE + ".configuration.."
            )
            .check(importedClasses);
    }

    @Test
    void coreShouldNotDependOnSpring() {
        noClasses()
            .that().resideInAPackage(BASE_PACKAGE + ".core..")
            .should().dependOnClassesThat()
            .resideInAnyPackage("org.springframework..")
            .check(importedClasses);
    }

    @Test
    void entrypointShouldNotDependOnInfra() {
        noClasses()
            .that().resideInAPackage(BASE_PACKAGE + ".entrypoint..")
            .should().dependOnClassesThat()
            .resideInAPackage(BASE_PACKAGE + ".infra..")
            .check(importedClasses);
    }

    @Test
    void controllersShouldNotDependOnRepositories() {
        noClasses()
            .that().haveSimpleNameEndingWith("Controller")
            .should().dependOnClassesThat()
            .resideInAPackage(BASE_PACKAGE + ".infra..repository..")
            .check(importedClasses);
    }

    @Test
    void jpaEntitiesShouldResideInInfraEntityPackages() {
        classes()
            .that().areAnnotatedWith(Entity.class)
            .should().resideInAPackage(BASE_PACKAGE + ".infra..entity..")
            .check(importedClasses);
    }

    @Test
    void repositoriesShouldResideInInfraRepositoryPackages() {
        classes()
            .that().haveSimpleNameEndingWith("Repository")
            .should().resideInAPackage(BASE_PACKAGE + ".infra..repository..")
            .check(importedClasses);
    }
}
