package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
@Configuration
public class {{ className }} {
    @Bean
    public {{ gatewayType }} {{ gatewayBeanMethodName }}({{ repositoryType }} {{ repositoryParameterName }}) {
        return new {{ gatewayImplementationType }}({{ repositoryParameterName }});
    }

    @Bean
    public {{ useCaseType }} {{ useCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ useCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byIdUseCaseType }} {{ byIdUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byIdUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byFilterUseCaseType }} {{ byFilterUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byFilterUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ pageUseCaseType }} {{ pageUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ pageUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byFilterPageUseCaseType }} {{ byFilterPageUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byFilterPageUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ createUseCaseType }} {{ createUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}{% if audited %}, {{ timeProviderType }} {{ timeProviderParameterName }}{% endif %}) {
        return new {{ createUseCaseImplementationType }}({{ gatewayParameterName }}{% if audited %}, {{ timeProviderParameterName }}{% endif %});
    }

    @Bean
    public {{ updateUseCaseType }} {{ updateUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}{% if audited %}, {{ timeProviderType }} {{ timeProviderParameterName }}{% endif %}) {
        return new {{ updateUseCaseImplementationType }}({{ gatewayParameterName }}{% if audited %}, {{ timeProviderParameterName }}{% endif %});
    }

    @Bean
    public {{ patchUseCaseType }} {{ patchUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}{% if audited %}, {{ timeProviderType }} {{ timeProviderParameterName }}{% endif %}) {
        return new {{ patchUseCaseImplementationType }}({{ gatewayParameterName }}{% if audited %}, {{ timeProviderParameterName }}{% endif %});
    }

    @Bean
    public {{ deleteUseCaseType }} {{ deleteUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ deleteUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ deletedByIdUseCaseType }} {{ deletedByIdUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ deletedByIdUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ deletedByFilterPageUseCaseType }} {{ deletedByFilterPageUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ deletedByFilterPageUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ restoreUseCaseType }} {{ restoreUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ restoreUseCaseImplementationType }}({{ gatewayParameterName }});
    }
}
