package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
@Configuration
public class {{ className }} {
    @Bean
    public {{ gatewayType }} {{ gatewayBeanMethodName }}({{ repositoryType }} {{ repositoryParameterName }}) {
        return new {{ gatewayImplementationType }}({{ repositoryParameterName }});
    }

    @Bean
    public {{ useCaseType }} {{ useCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ useCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byIdUseCaseType }} {{ byIdUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byIdUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byFilterUseCaseType }} {{ byFilterUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byFilterUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ pageUseCaseType }} {{ pageUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ pageUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ byFilterPageUseCaseType }} {{ byFilterPageUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ byFilterPageUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ createUseCaseType }} {{ createUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ createUseCaseImplementationType }}({{ gatewayParameterName }});
    }

    @Bean
    public {{ updateUseCaseType }} {{ updateUseCaseBeanMethodName }}({{ gatewayType }} {{ gatewayParameterName }}) {
        return new {{ updateUseCaseImplementationType }}({{ gatewayParameterName }});
    }
}
