{%- set coreRoot = corePackage | default('../core') -%}
{%- set infraRoot = infraPackage | default('../infra') -%}
{%- set webApiRoot = webApiPackage | default('../web-api') -%}
import { Module } from '@nestjs/common';
{%- if persistence == 'typeorm' %}
import { TypeOrmModule } from '@nestjs/typeorm';
{%- endif %}
{%- if audited %}

import { IClock, IClockSymbol } from '{{ coreRoot }}/common/time/clock';
import { ClockModule } from './clock.module';
{%- endif %}

import {
  ICreate{{ className }}Gateway,
  ICreate{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/create-{{ fileName }}/create-{{ fileName }}.gateway';
import { ICreate{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/create-{{ fileName }}/create-{{ fileName }}-usecase.interface';
import { Create{{ className }}UseCase } from '{{ coreRoot }}/usecases/create-{{ fileName }}/create-{{ fileName }}.usecase';
import {
  IGet{{ className }}ByIdGateway,
  IGet{{ className }}ByIdGatewaySymbol,
} from '{{ coreRoot }}/usecases/get-{{ fileName }}-by-id/get-{{ fileName }}-by-id.gateway';
import { IGet{{ className }}ByIdUseCaseSymbol } from '{{ coreRoot }}/usecases/get-{{ fileName }}-by-id/get-{{ fileName }}-by-id-usecase.interface';
import { Get{{ className }}ByIdUseCase } from '{{ coreRoot }}/usecases/get-{{ fileName }}-by-id/get-{{ fileName }}-by-id.usecase';
import {
  IUpdate{{ className }}Gateway,
  IUpdate{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/update-{{ fileName }}/update-{{ fileName }}.gateway';
import { IUpdate{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/update-{{ fileName }}/update-{{ fileName }}-usecase.interface';
import { Update{{ className }}UseCase } from '{{ coreRoot }}/usecases/update-{{ fileName }}/update-{{ fileName }}.usecase';
import { IPatch{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/patch-{{ fileName }}/patch-{{ fileName }}-usecase.interface';
import { Patch{{ className }}UseCase } from '{{ coreRoot }}/usecases/patch-{{ fileName }}/patch-{{ fileName }}.usecase';
import {
  IDelete{{ className }}Gateway,
  IDelete{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/delete-{{ fileName }}/delete-{{ fileName }}.gateway';
import { IDelete{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/delete-{{ fileName }}/delete-{{ fileName }}-usecase.interface';
import { Delete{{ className }}UseCase } from '{{ coreRoot }}/usecases/delete-{{ fileName }}/delete-{{ fileName }}.usecase';
import {
  IPage{{ className }}Gateway,
  IPage{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/page-{{ pluralFileName }}/page-{{ pluralFileName }}.gateway';
import {
  IGetDeleted{{ className }}ByIdGateway,
  IGetDeleted{{ className }}ByIdGatewaySymbol,
} from '{{ coreRoot }}/usecases/get-deleted-{{ fileName }}-by-id/get-deleted-{{ fileName }}-by-id.gateway';
import { IGetDeleted{{ className }}ByIdUseCaseSymbol } from '{{ coreRoot }}/usecases/get-deleted-{{ fileName }}-by-id/get-deleted-{{ fileName }}-by-id-usecase.interface';
import { GetDeleted{{ className }}ByIdUseCase } from '{{ coreRoot }}/usecases/get-deleted-{{ fileName }}-by-id/get-deleted-{{ fileName }}-by-id.usecase';
import {
  IPageDeleted{{ className }}Gateway,
  IPageDeleted{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/page-deleted-{{ pluralFileName }}/page-deleted-{{ pluralFileName }}.gateway';
import { IPageDeleted{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/page-deleted-{{ pluralFileName }}/page-deleted-{{ pluralFileName }}-usecase.interface';
import { PageDeleted{{ className }}UseCase } from '{{ coreRoot }}/usecases/page-deleted-{{ pluralFileName }}/page-deleted-{{ pluralFileName }}.usecase';
import {
  IRestore{{ className }}Gateway,
  IRestore{{ className }}GatewaySymbol,
} from '{{ coreRoot }}/usecases/restore-{{ fileName }}/restore-{{ fileName }}.gateway';
import { IRestore{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/restore-{{ fileName }}/restore-{{ fileName }}-usecase.interface';
import { Restore{{ className }}UseCase } from '{{ coreRoot }}/usecases/restore-{{ fileName }}/restore-{{ fileName }}.usecase';
import { IPage{{ className }}UseCaseSymbol } from '{{ coreRoot }}/usecases/page-{{ pluralFileName }}/page-{{ pluralFileName }}-usecase.interface';
import { Page{{ className }}UseCase } from '{{ coreRoot }}/usecases/page-{{ pluralFileName }}/page-{{ pluralFileName }}.usecase';
import { Create{{ className }}Provider } from '{{ infraRoot }}/providers/create-{{ fileName }}.provider';
import { Get{{ className }}ByIdProvider } from '{{ infraRoot }}/providers/get-{{ fileName }}-by-id.provider';
import { Update{{ className }}Provider } from '{{ infraRoot }}/providers/update-{{ fileName }}.provider';
import { Delete{{ className }}Provider } from '{{ infraRoot }}/providers/delete-{{ fileName }}.provider';
import { Page{{ className }}Provider } from '{{ infraRoot }}/providers/page-{{ pluralFileName }}.provider';
import { GetDeleted{{ className }}ByIdProvider } from '{{ infraRoot }}/providers/get-deleted-{{ fileName }}-by-id.provider';
import { PageDeleted{{ className }}Provider } from '{{ infraRoot }}/providers/page-deleted-{{ pluralFileName }}.provider';
import { Restore{{ className }}Provider } from '{{ infraRoot }}/providers/restore-{{ fileName }}.provider';
{% if persistence == 'typeorm' -%}
import { {{ className }}Entity } from '{{ infraRoot }}/models/{{ fileName }}-entity.model';
{% endif -%}
import { {{ className }}Repository } from '{{ infraRoot }}/repositories/{{ fileName }}.repository';
import { {{ className }}Controller } from '{{ webApiRoot }}/entrypoints/{{ pluralFileName }}/{{ fileName }}.controller';

@Module({
{%- if persistence == 'typeorm' or audited %}
{%- if persistence == 'typeorm' %}
  // `TypeOrmModule.forFeature` registers the entity's repository so
  // `@InjectRepository` can resolve it, and lets `autoLoadEntities` discover the
  // entity without AppModule having to list every one of them.
{%- endif %}
  imports: [
{%- if persistence == 'typeorm' %}
    TypeOrmModule.forFeature([{{ className }}Entity]),
{%- endif %}
{%- if audited %}
    ClockModule,
{%- endif %}
  ],
{%- endif %}
  controllers: [{{ className }}Controller],
  providers: [
    {{ className }}Repository,
    {
      provide: ICreate{{ className }}GatewaySymbol,
      useClass: Create{{ className }}Provider,
    },
    {
      provide: IGet{{ className }}ByIdGatewaySymbol,
      useClass: Get{{ className }}ByIdProvider,
    },
    {
      provide: IUpdate{{ className }}GatewaySymbol,
      useClass: Update{{ className }}Provider,
    },
    {
      provide: IDelete{{ className }}GatewaySymbol,
      useClass: Delete{{ className }}Provider,
    },
    {
      provide: ICreate{{ className }}UseCaseSymbol,
      useFactory: (gateway: ICreate{{ className }}Gateway{% if audited %}, clock: IClock{% endif %}): Create{{ className }}UseCase =>
        new Create{{ className }}UseCase(gateway{% if audited %}, clock{% endif %}),
      inject: [ICreate{{ className }}GatewaySymbol{% if audited %}, IClockSymbol{% endif %}],
    },
    {
      provide: IGet{{ className }}ByIdUseCaseSymbol,
      useFactory: (gateway: IGet{{ className }}ByIdGateway): Get{{ className }}ByIdUseCase =>
        new Get{{ className }}ByIdUseCase(gateway),
      inject: [IGet{{ className }}ByIdGatewaySymbol],
    },
    {
      provide: IUpdate{{ className }}UseCaseSymbol,
      useFactory: (gateway: IUpdate{{ className }}Gateway{% if audited %}, clock: IClock{% endif %}): Update{{ className }}UseCase =>
        new Update{{ className }}UseCase(gateway{% if audited %}, clock{% endif %}),
      inject: [IUpdate{{ className }}GatewaySymbol{% if audited %}, IClockSymbol{% endif %}],
    },
    {
      provide: IPatch{{ className }}UseCaseSymbol,
      useFactory: (getByIdGateway: IGet{{ className }}ByIdGateway, updateGateway: IUpdate{{ className }}Gateway{% if audited %}, clock: IClock{% endif %}): Patch{{ className }}UseCase =>
        new Patch{{ className }}UseCase(getByIdGateway, updateGateway{% if audited %}, clock{% endif %}),
      inject: [IGet{{ className }}ByIdGatewaySymbol, IUpdate{{ className }}GatewaySymbol{% if audited %}, IClockSymbol{% endif %}],
    },
    {
      provide: IDelete{{ className }}UseCaseSymbol,
      useFactory: (gateway: IDelete{{ className }}Gateway): Delete{{ className }}UseCase =>
        new Delete{{ className }}UseCase(gateway),
      inject: [IDelete{{ className }}GatewaySymbol],
    },
    {
      provide: IPage{{ className }}GatewaySymbol,
      useClass: Page{{ className }}Provider,
    },
    {
      provide: IPage{{ className }}UseCaseSymbol,
      useFactory: (gateway: IPage{{ className }}Gateway): Page{{ className }}UseCase =>
        new Page{{ className }}UseCase(gateway),
      inject: [IPage{{ className }}GatewaySymbol],
    },
    {
      provide: IGetDeleted{{ className }}ByIdGatewaySymbol,
      useClass: GetDeleted{{ className }}ByIdProvider,
    },
    {
      provide: IGetDeleted{{ className }}ByIdUseCaseSymbol,
      useFactory: (gateway: IGetDeleted{{ className }}ByIdGateway): GetDeleted{{ className }}ByIdUseCase =>
        new GetDeleted{{ className }}ByIdUseCase(gateway),
      inject: [IGetDeleted{{ className }}ByIdGatewaySymbol],
    },
    {
      provide: IPageDeleted{{ className }}GatewaySymbol,
      useClass: PageDeleted{{ className }}Provider,
    },
    {
      provide: IPageDeleted{{ className }}UseCaseSymbol,
      useFactory: (gateway: IPageDeleted{{ className }}Gateway): PageDeleted{{ className }}UseCase =>
        new PageDeleted{{ className }}UseCase(gateway),
      inject: [IPageDeleted{{ className }}GatewaySymbol],
    },
    {
      provide: IRestore{{ className }}GatewaySymbol,
      useClass: Restore{{ className }}Provider,
    },
    {
      provide: IRestore{{ className }}UseCaseSymbol,
      useFactory: (gateway: IRestore{{ className }}Gateway): Restore{{ className }}UseCase =>
        new Restore{{ className }}UseCase(gateway),
      inject: [IRestore{{ className }}GatewaySymbol],
    },
  ],
})
export class {{ className }}Module {}
