package {{ packageName }};

public final class {{ className }} extends {{ parentClassName }} {
    public {{ className }}(String messageKey, String defaultMessage) {
        super(messageKey, defaultMessage);
    }
}
