package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public interface {{ interfaceName }} {
    {{ entityType }} {{ executeMethodName }}({{ commandType }} command);
}
