{
  "validationFailed": "Validation failed",
  "notFound": "Resource not found",
  "conflict": "Resource already exists"{% for entity in entities %},
  "{{ entity.propertyName }}": {
    "already-exists": "{{ entity.className }} already exists."
  }{% endfor %}
}
