package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
{{ modifiers | join(" ") }} class {{ className }} {
{% for field in fields %}    {{ field.modifiers | join(" ") }} {{ field.type }} {{ field.name }};
{% endfor %}}