package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public class {{ className }} implements {{ gatewayType }} {
    private final {{ repositoryType }} {{ repositoryFieldName }};

    public {{ constructorName }}({{ repositoryType }} {{ repositoryFieldName }}) {
        this.{{ repositoryFieldName }} = {{ repositoryFieldName }};
    }

    @Override
    public List<{{ entityType }}> {{ findAllMethodName }}() {
        return {{ repositoryFieldName }}.{{ repositoryFindAllMethodName }}()
            .stream()
            .map({{ mapperType }}::{{ mapperToDomainMethodName }})
            .toList();
    }

    @Override
    public List<{{ entityType }}> {{ findByFilterMethodName }}({{ filterExpressionType }} {{ filterExpressionParameterName }}) {
        Objects.requireNonNull({{ filterExpressionParameterName }}, "{{ filterExpressionParameterName }}");

        Optional<BooleanExpression> predicate = {{ filterMapperType }}.{{ filterMapperMethodName }}(
            {{ filterExpressionParameterName }},
            {{ filterDefinitionType }}.{{ filterDefinitionFactoryMethodName }}()
        );

{% if requiresIterableConversion %}        Iterable<{{ persistenceEntityType }}> {{ persistenceEntitiesVariableName }} = predicate.isPresent()
            ? {{ repositoryFieldName }}.{{ repositoryFindAllMethodName }}(predicate.get())
            : {{ repositoryFieldName }}.{{ repositoryFindAllMethodName }}();

        return StreamSupport.stream({{ persistenceEntitiesVariableName }}.spliterator(), false)
{% else %}        List<{{ persistenceEntityType }}> {{ persistenceEntitiesVariableName }} = predicate
            .map({{ repositoryFieldName }}::{{ repositoryFindAllMethodName }})
            .orElseGet(() -> {{ repositoryFieldName }}.{{ repositoryFindAllMethodName }}());

        return {{ persistenceEntitiesVariableName }}.stream()
{% endif %}            .map({{ mapperType }}::{{ mapperToDomainMethodName }})
            .toList();
    }
}
