package {{ packageName }};

import {{ commonPackage }}.*;
import {{ filterPackage }}.FilterOperator;
import {{ entityPackage }}.Q{{ entityType }}Entity;
import java.util.*;
{% for import in imports %}import {{ import }};
{% endfor %}

public final class {{ entityType }}QuerydslFilterDefinition {
    private {{ entityType }}QuerydslFilterDefinition() {
    }

    public static QuerydslFilterDefinition create() {
        var entity = Q{{ entityType }}Entity.{{ qVariableName }};
{% for field in fields %}        var {{ field.name }} = new LinkedHashMap<FilterOperator, QuerydslFilterFieldDefinition.Operation<{{ field.type }}>>();
{% for operation in field.operators %}        {{ field.name }}.put(FilterOperator.{{ operation.operator }}, values -> entity.{{ field.name }}.{{ operation.method }}({% if operation.operator == "IN" %}values{% elif operation.operator == "IS_NULL" or operation.operator == "IS_NOT_NULL" %}{% else %}values.get(0){% endif %}));
{% endfor %}{% endfor %}        return QuerydslFilterDefinition.of(List.of({% for field in fields %}QuerydslFilterFieldDefinition.of("{{ field.domainName }}", {{ field.type }}.class, {{ field.name }}){% if not loop.last %}, {% endif %}{% endfor %}));
    }
}
