package {{ packageName }};

import static org.junit.jupiter.api.Assertions.assertEquals;
{% for import in imports %}import {{ import }};
{% endfor %}import org.junit.jupiter.api.Test;

class {{ entityType }}QuerydslFilterDefinitionTests {
    @Test void shouldCreateDefinition() {
        var definition = {{ entityType }}QuerydslFilterDefinition.create();
{% for field in fields %}        assertEquals({{ field.type }}.class, definition.findField("{{ field.domainName }}").orElseThrow().valueType());
{% endfor %}    }
}
