package {{ packageName }};
import static org.junit.jupiter.api.Assertions.*; import java.math.BigDecimal; import java.util.UUID; import org.junit.jupiter.api.Test;
class {{ entityType }}QuerydslFilterDefinitionTests { @Test void shouldCreateDefinition() { var definition = {{ entityType }}QuerydslFilterDefinition.create(); assertEquals(UUID.class, definition.findField("id").orElseThrow().valueType()); assertEquals(BigDecimal.class, definition.findField("balance").orElseThrow().valueType()); } }
