package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public interface {{ interfaceName }} extends {{ baseRepositoryType }}<{{ entityType }}, {{ identifierType }}>{% for additionalInterface in additionalInterfaces %}, {{ additionalInterface }}{% endfor %} {
}
