package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public final class {{ className }} implements {{ interfaceName }} {
    private final {{ gatewayType }} {{ gatewayFieldName }};

    public {{ className }}({{ gatewayType }} {{ gatewayFieldName }}) {
        this.{{ gatewayFieldName }} = {{ gatewayFieldName }};
    }

    @Override
    public {{ entityType }} {{ executeMethodName }}({{ identifierType }} {{ identifierParameterName }}) {
        if ({{ identifierParameterName }} == null) {
            throw new ValidationException(List.of(new FieldViolation(
                "{{ identifierParameterName }}",
                "{{ requiredMessageKey }}",
                "{{ requiredDefaultMessage }}"
            )));
        }

        return {{ gatewayFieldName }}.{{ gatewayFindByIdMethodName }}({{ identifierParameterName }});
    }
}
