package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public final class {{ className }} implements {{ interfaceName }} {
    private final {{ gatewayType }} {{ gatewayFieldName }};

    public {{ className }}({{ gatewayType }} {{ gatewayFieldName }}) {
        this.{{ gatewayFieldName }} = {{ gatewayFieldName }};
    }

    @Override
    public {{ pageResultType }}<{{ entityType }}> {{ executeMethodName }}({{ pageRequestType }} {{ pageRequestParameterName }}) {
        if ({{ pageRequestParameterName }} == null) {
            throw new ValidationException(List.of(new FieldViolation(
                "{{ pageRequestParameterName }}",
                "{{ requiredMessageKey }}",
                "{{ requiredDefaultMessage }}"
            )));
        }

        return {{ gatewayFieldName }}.{{ gatewayFindPageMethodName }}({{ pageRequestParameterName }});
    }
}
