package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public interface {{ interfaceName }} {
    {{ pageResultType }}<{{ entityType }}> {{ executeMethodName }}({{ filterExpressionType }} {{ filterExpressionParameterName }}, {{ pageRequestType }} {{ pageRequestParameterName }});
}
