package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public record {{ recordName }}(
{% for component in components %}    {{ component.type }} {{ component.name }}{% if not loop.last %},{% endif %}
{% endfor %}) {
}
