package {{ packageName }};

{% for import in imports %}import {{ import }};
{% endfor %}
public interface {{ interfaceName }} {
    List<{{ entityType }}> {{ findAllMethodName }}();

    List<{{ entityType }}> {{ findByFilterMethodName }}({{ filterExpressionType }} {{ filterExpressionParameterName }});

    {{ pageResultType }}<{{ entityType }}> {{ findPageMethodName }}({{ pageRequestType }} {{ pageRequestParameterName }});

    {{ pageResultType }}<{{ entityType }}> {{ findByFilterPageMethodName }}({{ filterExpressionType }} {{ filterExpressionParameterName }}, {{ pageRequestType }} {{ pageRequestParameterName }});

    {{ entityType }} {{ findByIdMethodName }}({{ identifierType }} {{ identifierParameterName }});

    {{ entityType }} {{ createMethodName }}({{ entityType }} {{ createParameterName }});

    {{ entityType }} {{ updateMethodName }}({{ entityType }} {{ updateParameterName }});
}
