import { Injectable } from '@nestjs/common';

import { FilterExpression } from '../../core/common/filter/filter-expression';
import { PageRequest } from '../../core/common/paging/page-request';
import { PageResult } from '../../core/common/paging/page-result';
import { {{ className }}Tombstone } from '../../core/models/{{ fileName }}-tombstone.model';
import { IPageDeleted{{ className }}Gateway } from '../../core/usecases/page-deleted-{{ pluralFileName }}/page-deleted-{{ pluralFileName }}.gateway';
import { {{ className }}Mapper } from '../mappers/{{ fileName }}.mapper';
import { {{ className }}Repository } from '../repositories/{{ fileName }}.repository';

@Injectable()
export class PageDeleted{{ className }}Provider implements IPageDeleted{{ className }}Gateway {
  public constructor(private readonly repository: {{ className }}Repository) {}

  public async execute(pageRequest: PageRequest, filterExpression: FilterExpression): Promise<PageResult<{{ className }}Tombstone>> {
    const page = await this.repository.findDeletedPage(pageRequest, filterExpression);

    return new PageResult(
      page.items.map({{ className }}Mapper.toTombstone),
      page.page,
      page.size,
      page.totalItems,
    );
  }
}
